@model Permission
@using Microsoft.AspNetCore.Mvc.Rendering

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="mb-3">
    <label class="form-label">Employee</label>

    <select asp-for="EmployeeId" class="form-select" asp-items="ViewBag.Employees">
        <option value="">-- Select Employee --</option>
    </select>
    <span asp-validation-for="EmployeeId" class="text-danger"></span>
</div>

<div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" asp-for="IsCategory" id="IsCategory">
    <label class="form-check-label" for="IsCategory">Category Permission</label>
</div>

<div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" asp-for="IsProduct" id="IsProduct">
    <label class="form-check-label" for="IsProduct">Product Permission</label>
</div>

<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" asp-for="IsEmployee" id="IsEmployee">
    <label class="form-check-label" for="IsEmployee">Employee Permission</label>
</div>
