@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form asp-action="Create" method="post">

    <div>
        <label>FirstName:</label>
        <input name="FirstName" class="form-control" />
    </div>
    <div>
        <label>LastName:</label>
        <input name="LastName" class="form-control" />
        </div>

         <div>
            <label>Email:</label>
            <input name="Email" class="form-control" />
    </div>
    <div>
        <label>Username:</label>
        <input name="Username" class="form-control" />
    </div>

    <div>
        <label>Password:</label>
        <input name="Password" class="form-control" />
    </div>

            <div>
                <label>Address:</label>
                <input name="Address" class="form-control" />
    </div>
             <div>
                <label>Salary:</label>
                <input type="number" name="Salary" class="form-control" />
    </div>
   
    <hr>
    <button type="submit" class="btn btn-primary">Save</button>


</form>
